/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#border{
    -fx-background-color: linear-gradient(to bottom left, #b8c3d3, #567290);
}
#tabPane{
    -fx-background-color: linear-gradient(to bottom right, #b8c3d3, #2d5c90);
}
#tabPane *.tab-header-background{
    -fx-background-color: #567290;
}
#tab1:selected .focus-indicator{
    -fx-focus-color: #106b46;
}
#tab1:selected{
    -fx-background-color: #b8c3d3;
    -fx-border-width: 0 0 8 0;
    -fx-border-color: #106b46;
}
#tabPaneSim{
    -fx-background-color: transparent;
}
#tabPaneSim *.tab-header-background{
    -fx-background-color: transparent;
}

#tabPaneSat{
    -fx-background-color: transparent;
}
#tabPaneSat *.tab-header-background{
    -fx-background-color: transparent;
}
#tab2:selected .focus-indicator{
    -fx-focus-color: #106b46;
}

#tab2:selected{
    -fx-background-color: #b8c3d3;
    -fx-border-width: 0 0 4 0;
    -fx-border-color: #106b46;
}
#tab2{
    -fx-background-color:
            #106b46,
            linear-gradient(#2e6b51 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #7e9e8e 45%, rgba(230,230,230,0) 50%);
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-background-insets: 0,1,1;
    -fx-font-weight: bold italic;

}

#tab2:hover{
    -fx-background-color:
            #3e1fc4,
            linear-gradient(#bbafd6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #dad4e6 45%, rgba(230,230,230,0) 50%);
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

#tabSat:selected .focus-indicator{
    -fx-focus-color: #106b46;
}

#tabSat:selected{
    -fx-background-color: #b8c3d3;
    -fx-border-width: 0 0 4 0;
    -fx-border-color: #106b46;
}
#tabSat{
    -fx-background-color:
            #106b46,
            linear-gradient(#2e6b51 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #7e9e8e 45%, rgba(230,230,230,0) 50%);
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-background-insets: 0,1,1;
    -fx-font-weight: bold italic;

}

#tabSat:hover{
    -fx-background-color:
            #3e1fc4,
            linear-gradient(#bbafd6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #dad4e6 45%, rgba(230,230,230,0) 50%);
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
.label{
    -fx-font-weight: bold;
}
.button{
    -fx-background-color: #b8c3d3;
    -fx-border-width: 0 0 8 0;
    -fx-background-radius: 10;
    -fx-background-insets: 0,1,1;
}
.text-field{
    -fx-background-radius: 10;
    -fx-background-insets: 0,1,1;
}
#anchorView2{
    -fx-background-color: linear-gradient(to bottom right, #b8c3d3, #2d5c90);
}
#anchorViewDelete{
    -fx-background-color: linear-gradient(to bottom right, #b8c3d3, #2d5c90);

}